networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
    driver: local

services:
  mongo:
    image: mongo:latest
    container_name: mongo-db
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
    env_file:
      - ./.env

  mongo-express:
    image: mongo-express
    container_name: mongo-express-ui
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo
    networks:
      - app-network
    env_file:
      - ./.env

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    container_name: worker-service
    restart: unless-stopped
    ports:
      - "3001:${WORKER_PORT:-3001}"
    environment:
      - MONGO_URL=mongodb://mongo:27017/weather-data
      - WORKER_CRON_SCHEDULE=${WORKER_CRON_SCHEDULE}
    depends_on:
      - mongo
    networks:
      - app-network
    env_file:
      - ./.env
    volumes:
      - ./worker/src:/app/src
    command: npm run dev

  analyzer:
    build:
      context: ./analyzer
      dockerfile: Dockerfile
    container_name: analyzer-service
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/weather-data
    depends_on:
      - mongo
    networks:
      - app-network
    env_file:
      - ./.env
    volumes:
      - ./analyzer:/app
      - /app/node_modules
    command: npm run dev
