networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
    driver: local

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - worker
      - analyzer
    networks:
      - app-network

  mongo:
    image: mongo:latest
    container_name: mongo-db
    restart: unless-stopped
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
    env_file:
      - ./.env

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    container_name: worker-service
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://mongo:27017/weather-data
      - WORKER_CRON_SCHEDULE=${WORKER_CRON_SCHEDULE}
    depends_on:
      - mongo
    networks:
      - app-network
    env_file:
      - ./.env
    volumes:
      - ./worker/src:/app/src
    command: npm run dev

  analyzer:
    build:
      context: ./analyzer
      dockerfile: Dockerfile
    container_name: analyzer-service
    restart: unless-stopped
    environment:
      - MONGO_URL=mongodb://mongo:27017/weather-data
    depends_on:
      - mongo
    networks:
      - app-network
    env_file:
      - ./.env
    volumes:
      - ./analyzer:/app
      - /app/node_modules
    command: npm run dev
